*{
    border: 0%;
    margin: 0%;
    padding: 0%;
    margin-left: 5%;
}
img{
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-right: -4%;
}
.img{
    height: 350px;
    width: 350px;
}
#r1{
    margin-left: 11.5%;
    min-height: 300px;
    height: auto;
    width: auto;
}
